

.div-title {
  padding-bottom: 3rem;
  text-align: center;
}

.blue-green-gradient-vertical {
  background: linear-gradient(180deg, #2ddde3, #03fc88);
  background: #03fc88;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  font-size: 1em;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
}

.explore-btn {
  text-shadow: 1px 1px 4px #000000;
  width: 30%;
}

.nav-menu-background {
  background-color: #575757;
  height: 3.5rem;
  width: 100vw;
  z-index: 10;
  position: fixed;
}
  
.app-title-white {
  font-family: 'Francois One', sans-serif;
  color: white;
  font-size: 4vh;
}

a:link {
  color: black;
}


/* visited link */
a:visited {
  color: black;
}

a:visited.blue-nav-item {
  color: #03b6fc;
}

/* mouse over link */
a:hover, a:focus {
  color: #03b6fc;
}

/* selected link */
a:active {
  color: #03b6fc;
}